body {
font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  flex-direction: column;
  margin: 0px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 30px;
  top: 150px;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 30px;
  top: 200px;
}

header {
  background-image: url(./Bilder/designecologist-Pmh0UoG1vlE-unsplash.jpg);
  background-size: cover;
  background-position: bottom left;
  display: flex;
  flex-direction: column;
  height: 400px;
  color: white;
  padding: 30px 20px 0px 20px;
  position: relative;
}

#pictureOfMe {
  width: 40%;
  height: auto;
  border-radius: 50%;
  display: flex;
  position: absolute;
  border: 3px solid #FFFFFF;
  right: 20px;
  bottom: -10px;
  max-width: 150px;
  }

.container {
  display: flex;
  flex-direction: column;
}

/** HEADER-LINKS **/

.links {
  display: flex;
  justify-content: flex-end;
}

.fa {
  padding: 20px;
  color: white;
  text-decoration: none;
}

.circle{
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
}

/** FOR-MORE-LINKS **/

#for-more-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.red-circle .fa {
  padding: 20px;
  color: #131212;
  text-decoration: none;
}

.red-circle{
  border: 2px solid #131212;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.name {
  display: flex;
}

.name {
  position: absolute;
  left: 30px;
  top: 120px;
}

.name p {
  margin: 0px;
  padding: 0px;
}

.title {
  margin-left: 20px;
}

p {
  padding: 0px 20px 0px 20px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.8;
  font-size: 12px;
  text-align: center;
}

ul li{
  list-style-type: none;
  font-size: 12px;
  min-width: 40%;
  max-width: 40%;
  padding: 0px;
  margin: 0px;
}

ul img {
  min-width: 80%;
  max-width: 80%;
}

.list {
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding: 10px;
}

.list-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

h5 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  min-width: 35%;
  max-width: 35%;
  font-variant: all-small-caps;
  font-size: 16px;;
  color: #c53d5c;
}

#top-section p {
text-indent: 50px;
}

p.bold {
  font-weight: bold;
  padding: unset;
}

a {
  display: flex;
  justify-content: center;
}

/** SECTIONS **/

h2 {
  font-family: 'Roboto', sans-serif;
  font-variant: all-small-caps;
  text-align: center;
  font-size: 26px;
  color: white;
}

.red-box {
  background-color: #69214c;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.grey {
  background-color: lavender;
}

.blue {
  background-color:#2e2c2f;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-variant: all-small-caps;
  text-align: center;
  color: white;
}

.fore-more-links {
  color: #131212;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.blue p {
  color: white;
  display: flex;
  justify-content: center;
}

#thoughts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#duckImage {
  border-radius: unset;
  width: 80%;
  height: auto;
  max-width: 300px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.projectslist img {
  max-width: 30%;
}

.projectslist h5 {
  max-width: unset;
}

/** MEDIA-QUERIES **/

@media (min-width: 668px) {

p {
  padding: 0px 200px 0px 200px;
}

img {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 24px;
}

#pictureOfMe {

  right: 80px;
}

h1 {
  left: 80px;
}

h6 {
  left: 80px;
}

.name {
  position: absolute;
  left: 80px;
}

.title {
  margin-left: 20%;
}

.links {
  position: absolute;
  right: 100px;
  top: 50px;
}

header {
  height: 335px;
}

.list-container {
  padding-left: 80px;
  padding-right: 80px;
}
}

@media (min-width: 900px) {

  header {
    background-size: cover;
    background-position: top;
  }

p {
    padding: 0px 300px 0px 3 00px;
}

header {
  background-position: bottom center;
}


#pictureOfMe {
  right: 200px;
}

h1 {
  left: 200px;
}

h6 {
  left: 200px;
}

.name {
  position: absolute;
  left: 200px;
}

.title {
  margin-left: 20%;
}

.links {
  position: absolute;
  right: 220px;
  top: 60px;
}
.list-container {
  padding-left: 250px;
  padding-right: 250px;
}
}