/* Main */

body {
  font-family: 'Roboto', sans-serif;
  }

.container {
  display: flex;
  flex-direction: column;
}

p {
  padding: 0px 20px 0px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  line-height: 1.8;
  text-align: center;
}

a {
  color: black;
}

ul {
  list-style-type: none;

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-variant: all-small-caps;
  text-align: center;
  font-size: 22px;
}

span.red-box {
  background-color: #FA382F;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

span.transparent-box {
  color:  #FA382F;
  font-family: 'Montserrat', sans-serif;
  font-variant: all-small-caps;
  text-align: center;
  font-size: 22px;
}

.white {
  padding: 16px;
}

.pink {
  background-color: #F4F4F4;
  padding: 16px;
}

.blue {
  background-color: #072BCE;
  padding: 16px;
}

/* Header */  

.line{
  position: relative;
  top: -8px;
  font-weight: bolder;
  color: #FA382F;
  font-family: 'Montserrat', sans-serif;
}
.linecircle{
  width: 6px;
  height: 6px;
  padding: 5px;
  position: relative;
  margin-right: 5px;
  background-color: #FA382F;
  border-radius: 50%;
  display: inline-block;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  flex-direction: column;
  margin: 0px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 20px;
  top: 200px;
  }  

h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: absolute;
  left: 30px;
  top: 200px;
}

.title {
  margin-left: 20px;
}

header {
  display: flex;
  flex-direction: column;
  height: 508px;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Bilder/slack-imgs.png");
  position: relative;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center center;
}

#pictureOfMe {
  width: 40%;
  height: auto;
  border-radius: 50%;
  display: flex;
  position: absolute;
  border: 3px solid #FFFFFF;
  right: 20px;
  max-width: 250px;
  bottom: -10px;
  }

/** HEADER-LINKS **/

.social-media-links {
  display: flex;
  position: absolute;
  top: 100px;
  right: 20px;
}

.fa {
  padding: 20px;
  color: white;
  text-decoration: none;
}

.circle{
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.name {
  display: flex;
}

.name {
  position: absolute;
  left: 20px;
  top: 170px;
}

.name p {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  color: #FDDFE7;
}

p.bold {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding-left: 20px;
}

/* Summary */


/* SKILLZ */

.list-skillz li {
  display: flex;
  list-style-type: none;
  font-size: 17px;
  padding: 5px;
  margin: 0px;
  padding: 0px;
}

.list-skillz ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  font-size: 17px;
  padding: 20px;
  margin: 0px;
}

h5 {
  display: flex;
  justify-content: center;
}

/** FOR-MORE-LINKS **/

#for-more-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

#for-more-section h2 {
  margin: 35px;
}

.red-circle .fa {
  padding: 20px;
  color: #FF0000;
  text-decoration: none;
}

.red-circle{
  border: 2px solid #FF0000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

/* Projects section */

/*ARROWS AND LINKS*/

.project-info {
  color: red;
}

span.arrows {
  color: red;
  text-decoration: underline;
}

span.date {
  color: red;
}

ul.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

li.projectslist {
  margin: 16px;
}

.projects a p {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.projects img {
  filter: brightness(0.5);
  position: relative;
  width: 100%;
}

.projects h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: Bold 28px;
  font-variant: all-small-caps;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  opacity: 1;
}

.projectslist a p{
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

/*.projectslist p{
  flex-direction: column;
}*/

a.no-photo-link p {
  display: block;
  padding: 0px;
}

.boxes  { 

display: flex;
flex-direction: row;
flex-wrap: wrap;
}

span.box {
  background-color: #FDDFE7;
  border: 1px solid #FDDFE7;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 20px;
  padding: 0px;
}

.box p {
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  text-align: center;
  padding: 0px;
}

ul.other-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 0px;
}

.other-projects a p{
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 17px;
  display: block;
  text-align: start;
  padding: 5px;
}

/*didnt find .list */

.list {
display: flex;
flex-direction: row;
justify-content: space-evenly;
/*padding: 10px;*/
}

/* Thoughts section */

#thoughts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img.thoughts {
  width: 100%;
}

.thoughts-list {
  margin: 0px;
  padding-left: 0px;
}

span.thoughts {
  padding-top: 20px;
}

#thoughts-section a {
flex-direction: column;
align-items: center;
text-decoration: none;
}

.thoughts h3 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.thoughts p {
  display: flex;
  text-align: start;
  font-size: 17px;
  flex-direction: column;
  text-align: justify;
  width: 100%;
}

#more-thoughts-section {
  padding-bottom: 40px;
  padding-top: 0px;
}


#more-thoughts-section p {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

/*Skills section*/

#skillz-section {
  padding: 0px;
}

.skills-list-container {
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
}

h5 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-variant: all-small-caps;
  font-size: 17px;
  color: #FA382F;
}

.skillz-list-container {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.skills-list-container {
    display: flex;
    justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/** SECTIONS **/



.fore-more-links {
  color: #131212;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 3px;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* CONTACTS */

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-variant: all-small-caps;
  text-align: center;
  color: #FFFFFF;
}

.blue p {
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

/** MEDIA-QUERIES **/

@media (min-width: 668px) {

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  line-height: 1.8;
}

img {
  display: flex;
  justify-content: flex-end;
}

#pictureOfMe {

  right: 75px;
  bottom: -20px;
  max-width: 250px;
}

h1 {
  left: 80px;
  top: 240px;
}

h2 {
  font-size: 32px;
}

h6 {
  left: 80px;
}

.name {
  position: absolute;
  top: 190px;
  left: 80px;
}

.social-media-links {
  display: flex;
  position: absolute;
  top: 125px;
  right: 90px;
}

.circle {
  margin: 5px;
}

.title {
  margin-left: 20%;
}

.links {
  position: absolute;
  right: 100px;
  top: 50px;
}

li.projectslist {
  width: 40%;
} 

header {
  height: 569px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Bilder/plush-design-studio-l3N9Q27zULw-unsplash.png");
  background-position: bottom;
}

span.transparent-box h2 {
  font-size: 32px;
  color: #FA382F;
}

.thoughts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

span.thoughts {
width: 40%;
}

a {
  color: black;
}

.list-container {
  padding-left: 80px;
  padding-right: 80px;
}

/*PADDING-SECTIONS */

.white {
  padding-left: 50px;
  padding-right: 50px;;
}


.pink {
  padding-left: 50px;
  padding-right: 50px;
}

.blue {
  padding-left: 50px;
  padding-right: 50px;;
}

}

@media (min-width: 900px) {

#pictureOfMe {
  right: 150px;
}

h1 {
  left: 150px;
}

h6 {
  left: 150px;
}

.name {
  position: absolute;
  left: 150px;
}

.title {
  margin-left: 20%;
}

.social-media-links {
  display: flex;
  position: absolute;
  top: 135px;
  right: 150px;
}
.list-container {
  padding-left: 200px;
  padding-right: 200px;
}

/*PADDING-SECTIONS */

.white {
  padding-left: 200px;
  padding-right: 200px;;
}


.pink {
  padding-left: 200px;
  padding-right: 200px;;
}

.blue {
  padding-left: 200px;
  padding-right: 200px;;
}

}

@media (min-width: 1200px) {

  /*PADDING-SECTIONS */

.white {
  padding-left: 250px;
  padding-right: 250px;;
}


.pink {
  padding-left: 250px;
  padding-right: 250px;;
}

.blue {
  padding-left: 250px;
  padding-right: 250px;;
}

/*HEADER*/

#pictureOfMe {
  right: 280px;
}

h1 {
  left: 280px;
}

h6 {
  left: 280px;
}

.name {
  position: absolute;
  left: 280px;
}

.social-media-links {
  display: flex;
  position: absolute;
  top: 135px;
  right: 280px;
}

.list-container {
  padding-left: 250px;
  padding-right: 250px;
}


}